amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
blinker==1.4
celery==3.1.24
certifi==2018.4.16
chardet==3.0.4
click==6.7
Flask==1.0.2
Flask-Mail==0.9.1
idna==2.7
itsdangerous==0.24
Jinja2==2.10
kombu==3.0.37
MarkupSafe==1.0
pytz==2018.4
redis==2.10.6
requests==2.19.1
urllib3==1.23
vine==1.1.4
Werkzeug==0.14.1
